body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color:rgb(152, 183, 209);
}
a{
    text-decoration: none;
    color:black;
}
header{
    display:flex;
    min-height: 110px;
    justify-content: space-between;
    background-color:rgb(91, 130, 238);
    align-items: center;
    padding:10px;
}

.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height:100px;
    margin-right: 10px;

}
nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:white;
    background-color:rgb(74, 103, 235);
}

.container{
    margin: auto;
    background-color: white;
    width: 850px;
    padding: 20px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 850px;
    height: 400px;
}


ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color:white;
    transition: opacity .5s ;
}

ul.slider li img{
    width: 100%;
    height: 400px;
    margin:auto;
    object-fit: cover;
}


ul.slider li:first-child{
    opacity: 1;
}


ul.slider li:target{
    opacity: 1;
}
.menu{
    text-align: center;
    margin: 10px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    background-color:rgb(74, 103, 235);
    padding:15px;
    width:10px;
    height:10px;
    font-size: 10px;
    border-radius:100%;
}
.intro{
    text-align:center;
}
.imagen{
    width:100%;
    max-width: 370px;
    margin:0px;
    padding:0px;
}

figure{
    margin: 30px;
    display: inline-block;
    left: 20px;
    right: 50px;
    border: 1px solid black;
    position: relative;
}

figcaption{
    background-color:rgb(235, 240, 240);
    position: absolute;
    width:90%;
    padding: 5%;

}
.texto-rojo{
    color:red;
}



.title{
    text-align:center;
    padding:auto;
    margin: auto;

}
footer{
    padding:100px;
    text-align:center;
}

.linkfoot{
    width:90%;
    padding: 5%;

}



@media (max-width: 900px){
    header{
        flex-direction:column;
    }

    nav{
        padding:10px;}

}